<div class="container" style="padding:5px; margin: 0px;">
  <ul class="list-group col-lg-4">
    <li class="list-group-item active">Device Details</li>
    <li class="list-group-item">Operating System - {{deviceInfo.os}}</li>
    <li class="list-group-item">Browser - {{deviceInfo.browser}}</li>
    <li class="list-group-item">Device - {{deviceInfo.device}}</li>
    <li class="list-group-item">OS_version - {{deviceInfo.os_version}}</li>
    <li class="list-group-item">Browser_version - {{deviceInfo.browser_version}}</li>
    <li class="list-group-item">DeviceType - {{deviceInfo.deviceType}}</li>
  </ul>

</div>
